.error {
    color: red;
}
.invisible {
  visibility: hidden;
}
label {
    margin: 20px 0
}
svg {
    border: 1px solid green
}

body {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 2em 0em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

#mainconfig {
    max-width: 40em;
}

#mainoutput {
    max-width: 20em;
}
