.error {
    color: red;
}
.invisible {
  visibility: hidden;
}
label {
    margin: 0
}
svg {
    border: 1px solid green
}

#content {
    //width: 100em;
    flex: 0 1 80em;
}

body {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 2em 0em;
    //justify-content: center;
    gap: 2em;
    align-items: flex-start;
}

#mainconfig {
    //flex: 0 1 60em;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    gap: 1em;
    align-items: baseline;
}

#mainconfig h2 {
    grid-column: 1 / -1;
}

#mainconfig label {
    grid-column: 1;
}

#mainconfig #buttonpanel {
    grid-column: 1 / -1;
}

#mainconfig input, textarea {
    grid-column: 2;
    width: 100%;
    box-sizing: border-box;
}

#mainconfig p.error {
    grid-column: 2;
    width: 100%;
}

#mainconfig #strlen {
    width: max-content;
    //box-sizing: content-box;
}

#mainoutput {
    flex: 0 1 30em;
}
