.error {
    color: red;
}
.invisible {
  visibility: hidden;
}
label {
    margin: 20px 0
}
svg {
    border: 1px solid green
}

body {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 2em 0em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

#mainconfig {
    max-width: 40em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

#mainconfig h2 {
    grid-column: 1 / -1;
}

#mainconfig legend {
    grid-column: 1;
}

#mainconfig #buttonpanel {
    grid-column: 1 / -1;
}

#mainconfig input {
    grid-column: 2;
    width: 100%;
    box-sizing: border-box;
}

#mainconfig p.error {
    grid-column: 2;
    width: 100%;
}

#mainoutput {
    max-width: 20em;
}
